.booking-container {
  margin: 10rem auto auto;
  padding: 20px;
  max-width: 500px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.booking-container form label {
  display: block;
  margin-bottom: 10px;
}
.booking-container form input,
.booking-container form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.booking-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
